<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="road2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.35 0.01 0.21"
        rpy="0 0 0" />
      <mass
        value="0.2" />
      <inertia
        ixx="1.33333333333333E-05"
        ixy="1.41172157875717E-20"
        ixz="1.21882394223579E-19"
        iyy="0.00417333333333333"
        iyz="-4.7885595951445E-23"
        izz="0.00417333333333333" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://road2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://road2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>