<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="road1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.55487724437157E-16 0.01 -0.21"
        rpy="0 0 0" />
      <mass
        value="0.48" />
      <inertia
        ixx="3.2E-05"
        ixy="6.77626357803441E-20"
        ixz="-1.41810030153862E-18"
        iyy="0.057616"
        iyz="-1.2886420446348E-21"
        izz="0.057616" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://road1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://road1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>