<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00159689886422772 -9.15245044360119E-06 0.0359198445178648"
        rpy="0 0 0" />
      <mass
        value="0.604172734262597" />
      <inertia
        ixx="0.000250495200702005"
        ixy="9.06360029792617E-08"
        ixz="9.87057318330371E-07"
        iyy="0.000349222290359103"
        iyz="-6.76297915922926E-10"
        izz="0.000528284512931136" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.337254901960784 0.549019607843137 0.282352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lb_wheel">
    <inertial>
      <origin
        xyz="1.36724481666559E-05 -0.0052157204458189 -1.71707273817247E-05"
        rpy="0 0 0" />
      <mass
        value="0.0370961811704838" />
      <inertia
        ixx="1.43447471719054E-05"
        ixy="-1.11570042486E-09"
        ixz="1.07558180718446E-09"
        iyy="2.60572333015591E-05"
        iyz="1.42912660006039E-09"
        izz="1.43538389693049E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/lb_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.858823529411765 0.905882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/lb_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_wheel"
    type="continuous">
    <origin
      xyz="-0.0681918900275088 0.085 0.0195"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lb_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-120"
      upper="120"
      effort="50"
      velocity="50" />
    <safety_controller
      soft_upper="100"
      soft_lower="40"
      k_velocity="60" />
  </joint>
  <link
    name="rb_wheel">
    <inertial>
      <origin
        xyz="1.41961107019833E-05 0.00521574554895821 -1.71876179285227E-05"
        rpy="0 0 0" />
      <mass
        value="0.0370952962895476" />
      <inertia
        ixx="1.43536074160664E-05"
        ixy="1.16660028548748E-09"
        ixz="-6.58757327486581E-10"
        iyy="2.60568095395233E-05"
        iyz="-1.40471818464943E-09"
        izz="1.43443707275583E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/rb_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.917647058823529 0.337254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/rb_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_wheel"
    type="continuous">
    <origin
      xyz="-0.0681918900275088 -0.085 0.0195"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rb_wheel" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-120"
      upper="120"
      effort="50"
      velocity="50" />
    <safety_controller
      soft_upper="100"
      soft_lower="40"
      k_velocity="60" />
  </joint>
  <link
    name="servo">
    <inertial>
      <origin
        xyz="-0.000670564663515699 -0.000838904673663076 0.00577004498133581"
        rpy="0 0 0" />
      <mass
        value="0.00102812398052869" />
      <inertia
        ixx="5.06965999363832E-08"
        ixy="3.59582150864825E-10"
        ixz="-2.47323116704478E-09"
        iyy="4.13995778738809E-08"
        iyz="3.89727361496621E-09"
        izz="1.51604797111521E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/servo.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.67843137254902 0.176470588235294 0.725490196078431 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/servo.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="servo"
    type="revolute">
    <origin
      xyz="0.0818081099724683 -0.00999999999994558 0.0149999999999222"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="servo" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-90"
      upper="90"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="turn_l">
    <inertial>
      <origin
        xyz="0.00638642436230782 0.00371324673923158 4.6785291846695E-05"
        rpy="0 0 0" />
      <mass
        value="0.00262306791605391" />
      <inertia
        ixx="1.02648987046787E-07"
        ixy="6.52855074516281E-08"
        ixz="7.03843776497678E-14"
        iyy="2.32734584765491E-07"
        iyz="-7.50458574185946E-14"
        izz="2.55841528338023E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/turn_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.63921568627451 0.772549019607843 0.741176470588235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/turn_l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="turn_l"
    type="revolute">
    <origin
      xyz="0.0718081279661377 0.0490967647728443 0.012000024229292"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="turn_l" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-45"
      upper="45"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lf_wheel">
    <inertial>
      <origin
        xyz="-2.20627704051179E-05 -0.00521575578452982 -1.75769779402202E-06"
        rpy="0 0 0" />
      <mass
        value="0.0370948291464789" />
      <inertia
        ixx="1.43494957491049E-05"
        ixy="1.81562503293817E-09"
        ixz="-4.50988533460288E-09"
        iyy="2.60565852527096E-05"
        iyz="1.34532667658033E-10"
        izz="1.4348159194633E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/lf_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.858823529411765 0.905882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/lf_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_wheel"
    type="continuous">
    <origin
      xyz="0 0.0324032352274523 0"
      rpy="0 0 0" />
    <parent
      link="turn_l" />
    <child
      link="lf_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-120"
      upper="120"
      effort="0"
      velocity="50" />
  </joint>
  <link
    name="link_l">
    <inertial>
      <origin
        xyz="1.24850785265807E-09 -0.0450000001776448 8.57940550682739E-05"
        rpy="0 0 0" />
      <mass
        value="0.00436502834432125" />
      <inertia
        ixx="2.97300554211234E-06"
        ixy="-3.26029444882744E-22"
        ixz="8.63253468807438E-14"
        iyy="3.76664735690838E-08"
        iyz="-1.44260832797335E-22"
        izz="2.9805584866647E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/link_l.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.301960784313725 0.145098039215686 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/link_l.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_l"
    type="revolute">
    <origin
      xyz="0.0299999803666197 -0.00409676459519989 -0.00508581828436026"
      rpy="0 0 0" />
    <parent
      link="turn_l" />
    <child
      link="link_l" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_ll">
    <inertial>
      <origin
        xyz="-0.00400000848967141 -0.0287948824732912 0.00732060637305861"
        rpy="0 0 0" />
      <mass
        value="0.0028569998845175" />
      <inertia
        ixx="9.07189471290435E-07"
        ixy="-1.1486537524523E-07"
        ixz="2.95450825678496E-08"
        iyy="9.62599260163487E-08"
        iyz="2.12683780912267E-07"
        izz="8.68442733177761E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/link_ll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.47843137254902 0.627450980392157 0.141176470588235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/link_ll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_ll"
    type="revolute">
    <origin
      xyz="0.0249999804755777 -0.00409676538685611 0.00608576982577623"
      rpy="0 0 0" />
    <parent
      link="turn_l" />
    <child
      link="link_ll" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="turn_r">
    <inertial>
      <origin
        xyz="0.00547231101220499 -0.0040967970651109 -0.000228247733990893"
        rpy="0 0 0" />
      <mass
        value="0.00250027899801978" />
      <inertia
        ixx="1.02054358011643E-07"
        ixy="-6.52855088977075E-08"
        ixz="-7.0472295666959E-14"
        iyy="2.32139951918833E-07"
        iyz="-7.50928904158803E-14"
        izz="2.55429486721656E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/turn_r.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.63921568627451 0.772549019607843 0.741176470588235 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/turn_r.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="turn_r"
    type="revolute">
    <origin
      xyz="0.0718081279661256 -0.0490967647728332 0.01199997577068"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="turn_r" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-45"
      upper="45"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rf_wheel">
    <inertial>
      <origin
        xyz="-1.42527531971359E-05 0.0052157722463092 -1.71455834558805E-05"
        rpy="0 0 0" />
      <mass
        value="0.0370944153086637" />
      <inertia
        ixx="1.43441029795014E-05"
        ixy="-1.16824957803054E-09"
        ixz="-8.43229435703538E-10"
        iyy="2.60563888599235E-05"
        iyz="-1.40501078074366E-09"
        izz="1.43532703451315E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/rf_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.917647058823529 0.337254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/rf_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_wheel"
    type="continuous">
    <origin
      xyz="0 -0.0324032352268724 0"
      rpy="0 0 0" />
    <parent
      link="turn_r" />
    <child
      link="rf_wheel" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-120"
      upper="120"
      effort="0"
      velocity="50" />
  </joint>
  <link
    name="link_rr">
    <inertial>
      <origin
        xyz="0.0125709734768234 0.0125897847595804 -0.0258127205922914"
        rpy="0 0 0" />
      <mass
        value="0.00436502834432125" />
      <inertia
        ixx="2.97300554211234E-06"
        ixy="-3.26029445943614E-22"
        ixz="8.63253468807439E-14"
        iyy="3.76664735690838E-08"
        iyz="-1.45876419931227E-22"
        izz="2.9805584866647E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/link_rr.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.301960784313725 0.145098039215686 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/link_rr.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="link_rr"
    type="revolute">
    <origin
      xyz="0.0174290081383163 0.0365069800132524 0.0208127448216114"
      rpy="0 0 0" />
    <parent
      link="turn_r" />
    <child
      link="link_rr" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="camera">
    <inertial>
      <origin
        xyz="-0.0135786496601567 1.28905432960939E-07 0.00611034086129218"
        rpy="0 0 0" />
      <mass
        value="0.186904128800083" />
      <inertia
        ixx="0.000133784122207917"
        ixy="9.95919502465171E-11"
        ixz="2.02433719255545E-07"
        iyy="1.0664060130472E-05"
        iyz="3.36230004794043E-10"
        izz="0.000138831068112444" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/camera.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test.SLDASM/meshes/camera.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera"
    type="revolute">
    <origin
      xyz="0.0663691429264373 0 0.041061032953946"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-60"
      upper="60"
      effort="0"
      velocity="0" />
  </joint>
</robot>